{% extends 'base.html' %} {%load static%} {%block extra_css%}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'academico/css/curso_list.css' %}"
/>
{%endblock%} {% block content %}
<div class="header">
  <h2>Bienvenido a la lista de cursos</h2>
  <div class="add-button">
    <a href="{% url 'curso_create' %}" class="add">Agregar Materia</a>
  </div>
</div>
<ul>
  {% for curso in cursos %}
  <div class="curso-item">
    <h3 class="curso-name">{{curso.nombre}}</h3>
  </div>
  {% empty %}
  <p>No hay materias disponibles.</p>
  {% endfor %}
</ul>
{% endblock %}
