{% extends 'baseEstudiantes.html' %} {% load static %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{% static 'academico/css/tablero_estudiante.css' %}"
/>
{% endblock %} {% block content %}
<div class="lista-tareas-container">
  {% regroup tareas by Fecha_entrega|date:"l, d \d\e F" as tareas_por_fecha %}
  {% for grupo in tareas_por_fecha %}
  <h3 class="fecha-grupo">{{ grupo.grouper }}</h3>

  {% for tarea in grupo.list %}
  <div class="tarea-row">
    <div class="indicador-container">
      {% if tarea.estado == 'Activa' %}
      <span class="dot-indicator blue"></span>
      {% endif %}
    </div>

    <div class="curso-box border-morado">
      <span class="curso-codigo">{{ tarea.curso.nombre|upper }}</span>

      {% if tarea.curso.imagen %}
      <div
        class="curso-imagen-fondo"
        style="background-image: url('{{ tarea.curso.imagen.url }}');"
      ></div>
      {% else %}
      <div class="curso-imagen-fondo" style="background-color: #a569bd"></div>
      {% endif %}
    </div>

    <div class="tarea-content detallado">
      <div class="iconos-accion">
        <input type="checkbox" class="tarea-checkbox" />
        <span class="icono-editar">&#9998;</span>
      </div>

      <div class="tarea-info">
        <span class="tarea-subtitulo"
          >{{ tarea.curso.nombre|upper }} TAREA</span
        >
        <a
          href="{% url 'detalle_tarea_estudiante' tarea.pk %}"
          class="tarea-titulo"
          >{{ tarea.titulo }}</a
        >
      </div>
    </div>

    <div class="tarea-meta">
      {% if tarea.esta_entregada %}
      <span class="badge badge-outline">Entregada</span>
      {% elif tarea.Fecha_entrega and tarea.Fecha_entrega < ahora %}
      <span
        class="badge badge-outline"
        style="border-color: #ff1100; color: #fa0303"
        >Faltante</span
      >
      {% else %} {% endif %}

      <div class="puntos-fecha">
        <span class="puntos"
          >{{ tarea.cantidad_puntos }} <small>PTS</small></span
        >
        <span class="fecha"
          >FECHA DE ENTREGA: {{ tarea.Fecha_entrega|time:"H:i" }}</span
        >
      </div>
    </div>
  </div>
  {% endfor %} {% empty %}
  <h3 class="fecha-grupo" style="color: #888">
    No tienes tareas pendientes. ¡Todo al día!
  </h3>
  {% endfor %}
</div>
{% endblock %}
